.top {
    margin-top: 100px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.nav-detail {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
}

.nav-detail li {
    display: inline-block;
}

img {
    width: 100%;
}
