.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.box {
  min-height: 185px;
}

.overflow-hidden {
  overflow: hidden;
}

.f-small {
  font-size: 12px;
}

.clear {
  clear: both;
}

.ptop-20 {
  padding-top: 20px;
}

.color-text {
  color: #333;
  line-height: 1.2;
}

.rounded {
  border-radius: 50%;
}

.fanpage-logo {
  width: 10%;
  margin-right: 15px;
}

.mtop-0 {
  margin-top: 0;
}
.mright-10 {
  margin-right: 10px;
}
.p-10 {
  padding: 10px;
}
.news-container {
  word-wrap: break-word;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
